<b-container>
        <b-row class="image-container-centered">
            <img src="src/assets/logo.png" alt="logo">
        </b-row>
        <b-row class="login-container">
      <b-form class="login-form" @submit.prevent="onSubmit" @reset="onReset">
        <b-form-group 
                      label="Username:"
                      label-for="usernameInput">
          <b-form-input id="usernameInput"
                        type="text"
                        v-model="form.username"
                        required
                        placeholder="Enter username">
          </b-form-input>
        </b-form-group>
  
              <b-form-group 
                      label="Password:"
                      label-for="passwordInput">
          <b-form-input id="passwodInput"
                        type="password"
                        v-model="form.password"
                        required
                        placeholder="Enter password">
          </b-form-input>
        </b-form-group>
  
        <b-button type="submit" variant="info">Login</b-button>
        <b-button type="reset" variant="secondary">Reset</b-button>
      </b-form>
        </b-row>
    </b-container>
  